{% extends 'default/default.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<main>
    <form method="post">
        <section class="form-wrapper">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {#
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            #}
            <div class="input-wrapper">
                <h1 class="mainTitle">Connexion</h1>
                <div class="form-field">
                    <div class="form-label">
                        <label for="inputEmail">Adresse email</label>
                    </div>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-field">
                    <div class="form-label">
                        <label for="inputPassword">Mot de passe</label>
                    </div>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="form-button" type="submit">
                Connexion
            </button>
        </section>
    </form>
</main>
{% endblock %}
