{% extends 'default/default.html.twig' %}

{% block title%}Sandrine Coupart - Diéteticienne, Nutritionniste{% endblock %}

{% block stylesheets %}
 <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
 <link href="{{ asset('css/home.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
     <div class="welcome-branding">
        <img src="{{ asset('uploads/assets/mobile-brooke-lark-08bOYnH_r_E-unsplash.jpg') }}" alt="welcome background image" class="welcome-img main-image"/>
         <a href="/#anchor-recipes" class="welcome-text">Bienvenue, découvrez mes recettes  👇</a>
     </div>
    <h2 class="recipe-mainTitle" id="anchor-recipes">Recettes</h2>

   {% if patient %}
       {% if patientRecipes %}
       <div class="recipe-container">
         {% for patientRecipe in patientRecipes %}
         <div class="recipe-wrapper">
            <a href="{{'/recipe'~ patientRecipe.id ~''}}">
                <h3 class="recipe-title">{{ patientRecipe.title }}</h3>
                <img src="{{ asset('uploads/recipe_image/'~ patientRecipe.photo ~'') }}" alt="{{patientRecipe.title}}" class="welcome-img recipe-img"/>
            </a>
         <a href="{{'/recipe'~ patientRecipe.id ~''}}" class="see-more-link">
             Voir plus
         </a>
         </div>
         {% endfor %}
       </div>
       {% endif %}
   {% endif %}
     {% if patient != true %}
         <div class="recipe-container">
            {% for recipe in recipes %}
               {% if recipe.isIsPublic == true %}
                <div class="recipe-wrapper">
                 <h3 class="recipe-title">{{ recipe.title }}</h3>
                 <a href="{{'/recipe'~ recipe.id ~''}}">
                  <img src="{{ asset('uploads/recipe_image/'~ recipe.photo ~'') }}" alt="{{recipe.title}}" class="welcome-img recipe-img"/>
                 </a>
                    <a href="{{'/recipe'~ recipe.id ~''}}" class="see-more-link">
                        Voir plus
                    </a>
                </div>
                {% endif %}
            {% endfor %}
         </div>
    {% endif %}
{% endblock %}