{% extends 'default/default.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/contact.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <h1 class="mainTitle">Posez moi vos questions</h1>
    <section class="form-wrapper">
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            <div class="form-field">
                <div class="field-label">
                    {{ form_label(form.name, null, {
                        label: 'Nom'
                    }) }}
                </div>
                <div class="field-input">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    {{ form_label(form.lastName, null, {
                        label: 'Prénom'
                    }) }}
                </div>
                <div class="field-input">
                    {{ form_widget(form.lastName) }}
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    {{ form_label(form.email, null, {
                        label: 'Adresse email'
                    }) }}
                </div>
                <div class="field-input">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    {{ form_label(form.subject, null, {
                        label: 'Sujet'
                    }) }}
                </div>
                <div class="field-input">
                    {{ form_widget(form.subject) }}
                </div>
            </div>
            <div class="form-field">
                <div class="field-label">
                    {{ form_label(form.message, null, {
                        label: 'Message'
                    }) }}
                </div>
                <div class="field-input message-input">
                    {{ form_widget(form.message, { 'attr': {
                        'placeholder': 'Je souhaite devenir membre..'
                    }}) }}
                </div>
            </div>
            <div class="button-wrapper">
                <button class="form-button" type="submit">
                    Envoyer
                </button>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock%}